
.featured-rooms{
    text-align: center;

    h2{
        font-weight: bold;
        margin: 30px 0px;
    }

   

    .divider{
        height: 5px;
        width: 10%;
        background: $primary-2;
        margin: 20px auto;
    } 
}

.featured-images{
    display: flex;
    flex-wrap: wrap;

    .room{
        width: 32%;
        margin: 0 5px;
    }
}

@media(max-width: 768px){
    .featured-images{
        .room{
            width: 80%;
            margin: 0 auto;
        }
    }
}