
.services{
    line-height: 30px;
    padding: 10px;

    h2{
        font-weight: bold;
        margin: 20px 0px;
    }
    h5{
        font-weight: bold;
        text-transform: capitalize;
        margin: 20px 0px;
    }

    .divider{
        height: 5px;
        width: 10%;
        background: $primary-2;
        margin: 20px auto;
    } 
}

@media(max-width: 768px){
    .services{
       
        text-align: center;
    }
}