
.single-room .container{
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 30px;
    .details{
        margin-top: 30px;
    }

    h3, h4{
        font-weight: bold;
    }
   
}



@media(max-width: 768px){
    .single-room .header-img{
        min-height: 50vh;
    }
}